{% load i18n staticfiles %}

<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock %}</title>

{% block leading_head %}
<meta name="description" content="{% block meta_description %}{% trans 'Django Girls Taipei is a one-day workshop about programming in Python and Django tailored for women.' %}{% endblock meta_description %}">
<meta name="keywords" content="programming,web,python,django,html,tutorial,workshop,taipei,girls,women,females">
<meta name="author" content="{% trans 'Django Girls Taipei' %}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% block meta_image %}{% endblock meta_image %}">
{% endblock leading_head %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
{% block extra_css %}{% endblock extra_css %}
</head>

<body>

{% block body %}{% endblock body %}

<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% block extra_js %}{% endblock extra_js %}

</body>

</html>
