{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
{% block extra_css %}{% endblock extra_css %}
</head>

<body>

{% block body %}{% endblock body %}

<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% block extra_js %}{% endblock extra_js %}

</body>

</html>
