{% extends 'base/base.html' %}

{% load staticfiles %}

{% block meta_description %}{{ content|striptags|slice:':150' }}{% endblock meta_description %}

{% block extra_css %}
{{ block.super }}
{% if meta.math %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css">
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/css/page.css' %}">
<style>{{ hilite_style|safe }}</style>
{% endblock extra_css %}


{% block title %}
{% if meta.title %}
  {{ meta.title }} |
{% endif %}
{{ block.super }}
{% endblock title %}


{% block content %}

<h1>{{ meta.title }}</h1>

{{ content|safe }}

{% endblock content %}

{% block extra_js %}
{{ block.super }}
{% if meta.math %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.js"></script>
{% endif %}
{% endblock extra_js %}
