{% extends 'base/base.html' %}

{% load staticfiles %}

{% block meta_description %}{{ content|striptags|slice:':150' }}{% endblock meta_description %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'pages/css/page.css' %}">
<style>{{ hilite_style|safe }}</style>
{% endblock extra_css %}


{% block title %}
{% if meta.title %}
  {{ meta.title }} |
{% endif %}
{{ block.super }}
{% endblock title %}


{% block content %}

{{ content|safe }}

{% endblock content %}
