{% extends 'pages/page.html' %}

{% load staticfiles %}


{% block extra_css %}
{{ block.super }}
{% if meta.math %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css">
{% endif %}
<link rel="stylesheet" href="{% static 'pages/css/tutorial_detail.css' %}">
{% endblock extra_css %}


{% block content %}

{% if meta.os_switch %}

<div class="text-right language-switch row">
  <form method="post" action="{% url 'ajax:set_os' %}">
    {% csrf_token %}
    選擇作業系統：{{ os_form.os }}
  </form>
</div>

{% endif %}

<h1>{{ meta.title }}</h1>

{% if meta.os_switch %}

<div class="alert alert-info" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <p>在開始之前，請先確認一下你用的作業系統。這個頁面的右上角（看那邊↗︎↗︎↗︎）應該會有一個「<strong>選擇作業系統</strong>」區塊。請依照你的作業系統選擇！</p>
</div>

{% endif %}

{{ content|safe }}

{% endblock content %}


{% block extra_js %}
{{ block.super }}
{% if meta.math %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.js"></script>
{% endif %}
<script type="text/javascript">var DEFAULT_OS = '{{ current_os }}';</script>
<script type="text/javascript" src="{% static 'pages/js/tutorial_detail.js' %}"></script>
{% endblock extra_js %}
