/* Overrides */
body {
    font-family: 'Noto Sans', sans-serif;
}
p {
    line-height: 1.6em;
}
a, a:visited {
    color: #27C5C0;
}
blockquote {
    font-size: 90%;
    color: #777;
}
a:hover, a:focus, a:active {
    color: #476666;
}
.navbar-default {
    background: #27C5C0;
    border-color: #27C5C0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    color: transparent;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-toggle .icon-bar {
    color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-toggle .icon-bar:hover {
    color: #fff;
}
.navbar-default .navbar-brand > span {
    float: left;
}
.navbar-default .navbar-brand .logo {
    width: 150px;
    height: 50px;
    background-image: url("../img/logo.png");
    background-size: 150px 50px;
    margin-top: -15px;
}

/* Custom styles */
footer {
    background: #27C5C0;
    margin-top: 50px;
    padding: 1em;
    color: #FFF;
    text-align: center;
}
footer p {
    margin: 0;
}
footer a, footer a:visited {
    color: #D7FFF7;
}
footer a:hover, footer a:focus, footer a:active {
    color: #FFF;
}
