{% extends 'boilerplate.html' %}

{% load i18n staticfiles base_tags %}

{% block meta_image %}{% absolute_static 'base/img/logo-negative-square.jpg' %}{% endblock meta_image %}

{% block extra_css %}
{{ block.super }}
<link href="{% static 'base/img/favicon.ico' %}" rel="shortcut icon">
<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'base/css/base.css' %}">
{% endblock extra_css %}


{% block title %}{% trans 'Django Girls Taipei' %}{% endblock title %}


{% block body %}

<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'pages:home' %}"><span class="logo"></span> <span>Taipei</span></a>
      <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
        <span class="sr-only">{% trans 'Menu' %}</span>
        {% for i in '123' %}
        <span class="icon-bar"></span>
        {% endfor %}
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'pages:tutorial_list' %}">教學手冊</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="content container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {% block content %}{% endblock content %}
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <p>Django Girls Taipei 是由 <a href="https://twitter.com/flywindy">Michelle Leu</a> 組織。感謝 <a href="http://twitter.com/olasitarska">Ola Sitarska</a> 與 <a href="http://twitter.com/asednecka">Ola Sendecka</a> 大力協助。</p>
    <p>Django Girls Taipei 屬於 Django Girls。所有成員均須遵守<a href="http://djangogirls.org/pages/coc/">行為準則（英文）</a>。</p>
  </div>
</footer>

{% endblock body %}

{% block extra_js %}
{% include 'base/includes/analytics.html' with unique_id='UA-54356331-2' %}
{% endblock extra_js %}
